{:id 2
 :name "Ingredient Entry"
 :type "form"
 :record-source "ingredient"
 :default-view "single"
 :header {:height 40
          :controls [{:type :label
                      :text "Ingredient Entry"
                      :x 8
                      :y 8
                      :width 200
                      :height 24}]}
 :detail {:height 200
          :controls [{:type :label
                      :text "ingredient"
                      :x 8
                      :y 8
                      :width 150
                      :height 18}
                     {:type :text-box
                      :field "ingredient"
                      :label "ingredient"
                      :x 8
                      :y 28
                      :width 150
                      :height 24}
                     {:type :label
                      :text "ingredient_type"
                      :x 8
                      :y 60
                      :width 150
                      :height 18}
                     {:type :text-box
                      :field "ingredient_type"
                      :label "ingredient_type"
                      :x 8
                      :y 80
                      :width 150
                      :height 24}
                     {:type :label
                      :text "initial_amount_in_grams"
                      :x 8
                      :y 112
                      :width 150
                      :height 18}
                     {:type :text-box
                      :field "initial_amount_in_grams"
                      :label "initial_amount_in_grams"
                      :x 8
                      :y 132
                      :width 150
                      :height 24}
                     {:type :label
                      :text "note"
                      :x 8
                      :y 164
                      :width 150
                      :height 18}
                     {:type :text-box
                      :field "note"
                      :label "note"
                      :x 8
                      :y 184
                      :width 200
                      :height 24}]}
 :footer {:height 30
          :controls []}}