{:id 3
 :name "Inventory List"
 :type :form
 :record-source "ingredient"
 :default-view "continuous"
 :page-size 20
 :header {:height 30
          :controls [{:type :label
                      :text "Inventory List"
                      :x 8
                      :y 4
                      :width 200
                      :height 22}]}
 :detail {:height 32
          :controls [{:type :text-box
                      :field "name"
                      :label "name"
                      :x 10 :y 4
                      :width 150 :height 24}
                     {:type :text-box
                      :field "description"
                      :label "description"
                      :x 170 :y 4
                      :width 200 :height 24}
                     {:type :text-box
                      :field "cost_per_gram"
                      :label "cost_per_gram"
                      :x 380 :y 4
                      :width 80 :height 24}]}
 :footer {:height 30
          :controls []}}
