{:id 3
 :name "Inventory List"
 :type :form
 :record-source "ingredient"
 :default-view "continuous"
 :page-size 20
 :controls
 [{:type :text-box
   :field "name"
   :label "name"
   :x 10 :y 5
   :width 150 :height 24}
  {:type :text-box
   :field "description"
   :label "description"
   :x 170 :y 5
   :width 200 :height 24}
  {:type :text-box
   :field "cost_per_gram"
   :label "cost_per_gram"
   :x 380 :y 5
   :width 80 :height 24}]}
