{:id 1
 :name "Recipe Calculator"
 :type :form
 :record-source "recipe"
 :default-view "single"
 :controls
 [{:type :label
   :text "Recipe Name"
   :x 20 :y 20
   :width 100 :height 18}
  {:type :text-box
   :field "name"
   :label "name"
   :x 20 :y 40
   :width 250 :height 24}
  {:type :label
   :text "Description"
   :x 20 :y 80
   :width 100 :height 18}
  {:type :text-box
   :field "description"
   :label "description"
   :x 20 :y 100
   :width 350 :height 60}]}
